.page{
    background-color: #E4E9F7;
    height: 100%;
    width: 100%;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #8ac0ef;
}

.ensa {
    position: absolute;
    top: 12.5px;
    height: 25px;
    left: 50px;
    width: 8%;    
}

.titre {
    position: absolute;
    top: 13px;
    width: auto;
    left: 200px;

}

.titre h3{
    font-size: 20px;
    font-family: "poppins", sans-serif;
    color: #3c3c65;
    font-weight: bold;
}

.iconTable{
    font-size: 16px; 
    color: gray; 
    transition: color 0.2s;
    background: transparent; 
    border: none;
}

.logout {
    position: absolute;
    top: 0px;
    right: 30px;
    height: 50px;
    font-size: 20px; 
    color: #3c3c65; 
    transition: color 0.2s;
    background: transparent; 
    border: none;
}


.logout:hover {
    color: #3d97d0; 
    cursor: pointer; 
}

.name{
    position: absolute;
    top: 13px;
    right: 75px;
    border-radius: 5px;
    font-size: 15px;
    place-items: center;
    height: 27px;
    display: grid;
    justify-content: center;
    align-items: center; 
}

.name p{
    font-family: "poppins", sans-serif;
    color: #3c3c65;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
}


.name p:hover {
    color: #3d64d0; 
    cursor: pointer; 
}

.container {
    padding-top: 70px;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.btn {
    position: absolute;
    right: 50px;
    top: 100px;
    font-size: 14px;
    display: block;
    border: 0px;
    border-radius: 7px;
}

.btnTable{
    height: 25px;
    width: 110px;
    font-size: 13.2px;
    display: block;
    border: 0px;
    border-radius: 7px;
    background: #3c3c65;
    color: white;
}

.mat-sort-header-content {
    text-align: left !important;
}

.table-responsive{
    height: fit-content;
    width: 1250px;
    top: 80px;
    left: 50px;
}

.nameTable{
    top: 80px;
    left: 50px;
    font-size: 25px;
}

.mat-mdc-table {
    border-radius: 8px;
    overflow:hidden !important;
}

.mat-mdc-table {
    background: none;
}

.mat-mdc-table {
    width: 1100px;
    margin: 20px;
    margin-bottom: 30px;
}

.mdc-data-table__table {
    min-width: 96.8%;
    border: 0;
    white-space: normal;
    border-spacing: 0;
    table-layout: fixed;
}

.mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: none;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    padding-right: 0;
    
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.bg-orange {
    background-color: #fbf0da;
    color: #73510d;
    display: inline-block;
    padding: .25em .4em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 25px;
  }
  
  .bg-green {
    background-color: #d6f0e0;
    color: #0d6832;
    display: inline-block;
    padding: .25em .4em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 25px;
  }
  
  .bg-red {
    background-color: #fbdada;
    color: #730d0d;
    display: inline-block;
    padding: .25em .4em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 25px;
  }

  .no-data{
    height: 70px;
  }
  .aucun{
    font-size: 17px;
    color: gray;
    align-items: center;
    text-align: center;
  }

  .popup-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(174, 174, 174);
  }
