<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Etudiants</title>
</head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
        <img class="ensaLogo" src="../../../assets/ensa_white.png"/>
    </div>
    <ul class="nav-links">
      <li>
        <a >
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Analytics</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name"  [routerLink]="['/admin/analytique/view/', filiereId]">Analytique</a></li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['/admin/students/view', filiereId]">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Etudiants</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name"  [routerLink]="['/admin/students/view', filiereId]">Etudiants</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a >
            <i class='bx bx-collection' ></i>
            <span class="link_name">Niveau</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >Niveau</a></li>
          <li> <a [routerLink]="['/admin/FirstYearStudents/view', filiereId]">Première année</a></li>
          <li> <a [routerLink]="['/admin/SecondYearStudents/view', filiereId]">Deuxième année</a></li>
          <li> <a [routerLink]="['/admin/ThirdYearStudents/view', filiereId]">Troisième année</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a >
            <i class='bx bx-book-alt' ></i>
            <span class="link_name">Stages</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >Stages</a></li>
          <li><a [routerLink]="['/admin/InitiationStudents/view', filiereId]">Initiation</a></li>
          <li><a [routerLink]="['/admin/PfaStudents/view', filiereId]">PFA</a></li>
          <li><a [routerLink]="['/admin/PfeStudents/view', filiereId]">PFE</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a >
            <i class='bx bx-plug' ></i>
            <span class="link_name">Professeurs</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >Professeurs</a></li>
          <li><a [routerLink]="['/admin/jury/view', filiereId]">Jury</a></li>
          <li><a [routerLink]="['/admin/encadrant/view', filiereId]">Encadrant</a></li>
          
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <div class="name-job">
            <div class="profile_name" >Déconnecter</div>
           
          </div>
          <a [routerLink]="['/login/chef/de/filiere/admin']">
            <i class='bx bx-log-out'></i>
          </a>
          
          
        </div>
  </li>
</ul>
</div>
      <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
            <span class="text">Processus STAGES</span>
        </div>
    
        <!-- Etudiant Details Modal Start -->
        <div class="modal fade" tabindex="-1" id="etudiantDetailsModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">Etudiant Details</h5>
                        <button type="button" class="btn-close" (click)=" closeEtudiantDetailsModal() "></button>

                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Nom: </label>{{ selectedEtudiant?.nom }}
                        </div>
                        <div>
                            <label>Prenom: </label>{{ selectedEtudiant?.prenom }}
                        </div>
                        <div>
                            <label>Email: </label>{{ selectedEtudiant?.email }}
                        </div>
                        <div>
                            <label>CNE: </label>{{ selectedEtudiant?.cne }}
                        </div>
                        <div>
                            <label>CIN: </label>{{ selectedEtudiant?.cin }}
                        </div>
                        <div>
                            <label>Niveau: </label>{{ selectedEtudiant?.niveau }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Etudiant Details Modal End -->
    
        <div class="container mt-5">
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-between align-items-center">
              <div>
                <h4 class="text-primary">La liste des stages de PFA!</h4>
              </div>
              <div>
                <!-- Add the dropdown for selecting the year -->
                <div class="form-group">
                  <label for="yearSelect"><b>Filtrer par année:</b></label>
                  <br> 
                  <select class="form-control" id="yearSelect" [(ngModel)]="selectedYear" (change)="fetchStages()">
                    <option value="">Toutes les années</option>
                    <option *ngFor="let year of getUniqueYears()" [value]="year">{{ year }}</option>
                  </select>
                  <br>
                </div>
                
                
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12">
              <div id="showAlert"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-container table-responsive">
                <table class="table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th>Etudiant apogée</th>
                      <th>Organisme D'accueil</th>
                      <th>Sujet</th>
                      <th>Type</th>
                      <th>Date De Début</th>
                      <th>Date Fin</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stage of visibleStages">
                      <td>
                        <!-- Add a button to trigger the modal -->
                        <button class="btn btn-link" (click)="openEtudiantDetailsModal(stage.etudiant)">
                          {{ stage.etudiant.codeApogee}}
                        </button>
                      </td>
                      <td>{{ stage.organismeDaccueil }}</td>
                      <td>{{ stage.sujet }}</td>
                      <td>{{ stage.type }}</td>
                      <td>{{ stage.dateDeDebut | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ stage.dateFin | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
                <span class="mx-2">Page {{ currentPage }}</span>
                <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
              </div>
            </div>
          </div>
        </div>
        
    </section>
    
      
    
   
</body>
</html>

<router-outlet></router-outlet>
