<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Etudiants</title>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus'></i>
          <span class="logo_name">Gestion Stages</span>
        </div>
        <ul class="nav-links">
          <li>
            <a [routerLink]="['/admin/students/view', filiereId]">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Etudiants</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name"  [routerLink]="['/admin/students/view', filiereId]">Etudiants</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-collection' ></i>
                <span class="link_name">Niveau</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Niveau</a></li>
              <li> <a [routerLink]="['/admin/FirstYearStudents/view', filiereId]">Première année</a></li>
              <li> <a [routerLink]="['/admin/SecondYearStudents/view', filiereId]">Deuxième année</a></li>
              <li> <a [routerLink]="['/admin/ThirdYearStudents/view', filiereId]">Troisième année</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-book-alt' ></i>
                <span class="link_name">Stages</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" href="#">Stages</a></li>
              <li><a [routerLink]="['/admin/InitiationStudents/view', filiereId]">Initiation</a></li>
              <li><a [routerLink]="['/admin/PfaStudents/view', filiereId]">PFA</a></li>
              <li><a [routerLink]="['/admin/PfeStudents/view', filiereId]">PFE</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-pie-chart-alt-2' ></i>
              <span class="link_name">Analytics</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Analytics</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-line-chart' ></i>
              <span class="link_name">Chart</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Chart</a></li>
            </ul>
          </li>
          <li>
            <div class="iocn-link">
              <a href="#">
                <i class='bx bx-plug' ></i>
                <span class="link_name">Professeurs</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" >Professeurs</a></li>
              <li><a [routerLink]="['/admin/jury/view', filiereId]">Jury</a></li>
              <li><a [routerLink]="['/admin/encadrant/view', filiereId]">Encadrant</a></li>
              
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-compass' ></i>
              <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Explore</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-history'></i>
              <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">History</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Setting</a></li>
            </ul>
          </li>
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <div class="name-job">
            <div class="profile_name">Prem Shahi</div>
            <div class="job">Web Desginer</div>
          </div>
          <i class='bx bx-log-out' ></i>
        </div>
      </li>
    </ul>
      </div>
      <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text">Processus STAGES</span>
          
        </div>
        <!-- Add New User Modal Start -->
<div class="modal fade" tabindex="-1" id="addNewUserModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New User</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-user-form" class="p-2" [formGroup]="addEtudiantForm" novalidate>
          <div class="mb-3">
            <input formControlName="nom" type="text" class="form-control form-control-lg" placeholder="Enter Nom" required>
            <div class="invalid-feedback">Nom is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="prenom" type="text" class="form-control form-control-lg" placeholder="Enter Prenom" required>
            <div class="invalid-feedback">Prenom is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="email" type="email" class="form-control form-control-lg" placeholder="Enter E-mail" required>
            <div class="invalid-feedback">E-mail is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="cne" type="text" class="form-control form-control-lg" placeholder="Enter CNE" required>
            <div class="invalid-feedback">CNE is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="cin" type="text" class="form-control form-control-lg" placeholder="Enter CIN" required>
            <div class="invalid-feedback">CIN is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="niveau" type="text" class="form-control form-control-lg" placeholder="Enter Niveau" required>
            <div class="invalid-feedback">Niveau is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="codeApogee" type="text" class="form-control form-control-lg" placeholder="Enter code Apogée" required>
            <div class="invalid-feedback">code Apogée is required!</div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-primary btn-block btn-lg" (click)="addEtudiant()">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Edit User Modal Start -->
<div class="modal fade" tabindex="-1" id="editUserModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit This User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="edit-user-form" class="p-2" [formGroup] = "updateEtudiantForm" novalidate>
          <input formControlName="id" type="hidden">
          <div class="mb-3">
            <input formControlName="nom" type="text" class="form-control form-control-lg" placeholder="Enter Nom" required>
            <div class="invalid-feedback">Nom is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="prenom" type="text" class="form-control form-control-lg" placeholder="Enter Prenom" required>
            <div class="invalid-feedback">Prenom is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="email" type="email" class="form-control form-control-lg" placeholder="Enter E-mail" required>
            <div class="invalid-feedback">E-mail is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="cne" type="text" class="form-control form-control-lg" placeholder="Enter CNE" required>
            <div class="invalid-feedback">CNE is required!</div>
          </div>
          <div class="mb-3">
            <input formControlName="cin" type="text" class="form-control form-control-lg" placeholder="Enter CIN" required>
            <div class="invalid-feedback">CIN is required!</div>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-success btn-block btn-lg" (click)="updateEtudiant()">Update User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-between align-items-center">
      <div>
        <h4 class="text-primary">All users in the database!</h4>
      </div>
      <div>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addNewUserModal">Add New User</button>
       <br>
       <br>
        

      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div id="showAlert"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class= "table-container table-responsive" >
        <table class="table table-striped table-bordered text-center">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>E-mail</th>
              <th>CNE</th>
              <th>CIN</th>
              <th>Stage</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let etudiant of visibleEtudiants">
              <td (click)="showDetails(etudiant.id)" style="cursor: pointer;">
                {{ etudiant.nom }}
              </td>
              
              <td>{{ etudiant.prenom }}</td>
              <td>{{ etudiant.email }}</td>
              <td>{{ etudiant.cne }}</td>
              <td>{{ etudiant.cin }}</td>
              <td > <span [ngClass]="{
                'bg-green': etudiant.stageTrouver === true,
                'bg-red': etudiant.stageTrouver === false
              }">
                {{ etudiant.stageTrouver ? 'Acquis' : 'Non Acquis' }}
              </span>
              
              </td>
              
              
              <td>
                <div class="d-inline mx-2">
                  <button class="btn btn-warning" (click)="editEtudiant(etudiant.id)" type="button" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
                </div>
                <div class="d-inline">
                  <button class="btn btn-danger" (click)="deleteEtudiant(etudiant.id)" type="button">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        
        
        <div class="row">
          <div class="col-lg-6">
            <!-- Left column for "Import Etudiants" button -->
            <input type="file" (change)="onFileChange($event)" accept=".csv">
            <br>
            <button class="btn btn-success" (click)="importEtudiants()" style="margin-top:10px ;">Import Etudiants</button>
          </div>
      
          <div class="col-lg-6 text-end">
            <!-- Right column for "Previous" and "Next" buttons -->
            <button class="btn btn-secondary" (click)="prevPage()">Previous</button>
            <button class="btn btn-secondary" (click)="nextPage()" style="margin-left:10px ;">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      </section>
      
    
   
</body>
</html>

<router-outlet></router-outlet>
